<footer style="background: url('<%- staticRoot %>/img/floresta.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">

	<div class="row m-0">
		<!-- Logo && Separador -->
		<div class="col-md-6 p-3 text-center text-md-right">
			<img src="<%- staticRoot %>/img/logoBranco.png" alt="Logo terra 2030" style="max-height: 105px; max-width: 80%; vertical-align: middle;" />
			<div class="ml-2 d-none d-md-inline-block" style="vertical-align: middle; background-color: white; width: 0.15rem; height: 80%;"></div>
		</div>

		<!-- Frase -->
		<div class="col-md-6 p-3 pl-md-0 text-center text-md-left" style="color: #fff;">
			<h3><b>ninguém<br/>será deixado<br/>para trás.</b></h3>
		</div>
	</div>

	<div class="text-center p-2" style="color: #fff;">
		<small>Copyright &copy; Fiocruz 2021</small>
	</div>

</footer>
