<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("partials/cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body class="bg-gradient-primary">

	<%- body %>
    
</body>
</html>