<div class="py-5" style="background-position: left center; background-size: cover; background-repeat: repeat;">
    <div class="container">
      <div class="row w-75">
        <div class="col-md-12">
          <div class="row bg-white rounded-bottom rounded w-75 h-75" style="border-radius:15px;">
            <div class="mx-auto col-lg-9 col-10 offset-md-1 w-50 py-4" style="	border-top-left-radius: 15px;	border-top-right-radius: 15px;	border-bottom-left-radius: 15px;	border-bottom-right-radius: 15px;">
              <form class="text-left">
                <h1 class="text-center py-2">Cadastro de Usuário</h1>
                <div class="form-group"> <label for="form16">Nome Completo</label> <input type="text" class="form-control" id="form16" placeholder="Seu Nome"> </div>
                <div class="form-group"> <label for="form18">E-mail</label> <input type="email" class="form-control" id="form18" placeholder="email@exemplo.com"> </div>
                <div class="form-row">
                  <div class="form-group col-md-12"> <label for="form19">Senha</label> <input type="password" class="form-control" id="form19" placeholder="••••••••"> </div>
                  <div class="form-group col-md-12"> <label for="form20">Confirme sua Senha</label> <input type="password" class="form-control" id="form20" placeholder="••••••••"> </div>
                </div>
                <div class="form-group">
                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="form21" value="on"> <label class="form-check-label" for="form21">Eu aceito os Termos de Condição de Uso</label> </div>
                </div> <button type="submit" class="btn" style="background-color: #4C9F38; color: white;">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>