<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card my-5">
				<div class="card-body text-center">
					<div class="mb-4"><img style="width: 100%; max-width: 250px;" alt="Logo terra 2030" src="<%- staticRoot %>/img/logo<%- darkMode %>.png" /></div>
					<% if (mensagem) { %>
					<div class="alert alert-danger mb-0" role="alert"><%= mensagem %></div>
					<% } else { %>
					Muito obrigado por ter confirmado seu e-mail! 😊
					<br />
					<br />
					<a href="<%- root %>/login">Agora basta clicar aqui para fazer login, e começar a divulgar seus projetos!</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
