<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("cardheader") %>

<div class="card-header">
	<div class="row align-items-center">
		<div class="col">
			<h6 class="m-0 font-weight-bold text-primary">Projetos pendentes de aprovação</h6>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>

<%- include("../partials/script-projetos") %>
