<div class="p-4 text-center">
	<h1 class="h2 m-0"><%=((typeof mensagem === "undefined" || !mensagem) ? "A pรกgina que vocรช estรก tentando acessar nรฃo foi encontrada" : mensagem) %> ๐ข</h1>
	<!--
		<%= erro.status %>
		
		<%= erro.stack %>
	-->
</div>
