<div class="row">
	<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	<div class="col-lg-6">
		<div class="p-5">
			<div class="mb-4 text-center">
				<img style="width: 100%; max-width: 250px;" alt="Logo Fiocruz" src="<%- staticRoot %>/img/logo.png" />
			</div>
			<form method="POST" action="<%- root %>/login">
				<% if (mensagem) { %>
				<div class="alert alert-danger"><%= mensagem %></div>
				<% } %>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" spellcheck="false" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" />
				</div>
				<button type="submit" class="btn btn-primary btn-user btn-block">
					Login
				</button>
			</form>
			<hr />
			<div class="text-center">
				<a class="small" href="<%- root %>/exemplo/registro">Criar nova conta!</a>
			</div>
		</div>
	</div>
</div>
