
    <section>
        <div class="row" style="margin: 25px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>CADASTRAR PROJETO</h1><label style="border-color: var(--red);color: var(--red);">* informações obrigatórias</label>
                </div>
                <div class="col-md-6" style="width: 566px;height: 86px;margin: 0px;padding: 0px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="height: 96px;"></div>
        </div>
        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
            <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">Informações de Contato</a><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">Informações do Evento</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Registro Completo</a></div>
        </div>
        <div class="row" style="margin: 19px;"></div>
    </section>
    <form>
        <div class="form-group">
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6" style="height: 423px;"><label>Qual é o nome da tecnologia? (até 100 caracteres)</label><label style="color: var(--red);">*</label><textarea class="form-control" style="height: 158px;width: 95%;"></textarea><label>Qual é o publico alvo? (até 100 caracteres)</label><label style="color: var(--red);">*</label><textarea class="form-control" style="height: 172px;width: 95%;"></textarea></div>
                    <div class="col-md-6"><label>Descreva brevemente a tecnologia (até 500 caracteres)</label><label style="color: var(--red);">*</label><textarea class="form-control" style="height: 361px;"></textarea></div>
                </div>
            </div>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6 macro" style="height: 421px;"><label style="height: 39px;">Indique quais macro categorias estão relacionadas a sua tecnologia<br></label><label style="color: var(--red);">*</label>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="height: 35px;">Determinantes Sociais da Saude</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2" style="height: 35px;">Economia Circular</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3" style="height: 35px;">Preservação do Meio Ambiente</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4" style="height: 35px;">Direitos Humanos</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5" style="height: 35px;">Mobilização Social</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6" style="height: 35px;">Interação Social</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7" style="height: 35px;">Prevenção de Desastres</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8" style="height: 35px;">Manejo consciente da Biodiversidade Local</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9" style="height: 35px;">Participação Social</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-10" style="height: 35px;">Governança Territorial Democrática</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-11">Outro</label></div>
                    </div>
                    <div class="col-md-6"><label>Qual local de implementação de sua tecnologia?</label><label style="color: var(--red);">*</label><input class="form-control" type="text" style="width: 95%;margin: 10px 0px;"><label>Qual o território de abrangência da tecnologia?</label>
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 95%;margin: 10px 0px;">Selecionar</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div><label>A tecnologia tem parceiros para implementação? Quais?</label><input class="form-control" type="text" style="width: 95%;margin: 10px 0px;"><label>Qual é o Status atual?</label><input class="form-control" type="text" style="width: 95%;margin: 10px 0px;"><label>A tecnologia possui financiamento? Quais?</label><input class="form-control" type="text" style="width: 95%;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6"><label>A tecnologia possui potencial de escalonamento? Quais?</label><input class="form-control" type="text" style="width: 95%;"></div>
                    <div class="col-md-6"><label>A tecnologia possui potencial de replicabilidade? Quais?<br></label><input class="form-control" type="text" style="width: 95%;"></div>
                </div>
            </div>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-12" style="margin-top: 11px;">
                        <div class="btn-group" role="group"></div><button class="btn btn-primary next" type="button">Anterior</button><button class="btn btn-primary next" type="button">Próximo</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.form-check .macro {
  padding-top: 15px;
}

.next{
    margin: 1vw;
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #007bff;
}

.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#next {
  margin: 0 auto;
}

.col-md-12 #next {
  margin: 0 auto;
}


</style>
</html>