<div class="row">
	<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
	<div class="col-lg-7">
		<div class="p-5">
			<div class="mb-4 text-center">
				<img style="width: 100%; max-width: 250px;" alt="Logo Fiocruz" src="<%- staticRoot %>/img/logo.png" />
			</div>
			<form method="POST">
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<input type="text" class="form-control" id="exampleFirstName"
							placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="exampleLastName"
							placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail"
						placeholder="Email Address">
				</div>
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<input type="password" class="form-control"
							id="exampleInputPassword" placeholder="Password">
					</div>
					<div class="col-sm-6">
						<input type="password" class="form-control"
							id="exampleRepeatPassword" placeholder="Repeat Password">
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-user btn-block">
					Register Account
				</button>
				<hr />
				<a href="#" class="btn btn-google btn-user btn-block">
					<i class="fab fa-google fa-fw"></i> Register with Google
				</a>
				<a href="#" class="btn btn-facebook btn-user btn-block">
					<i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
				</a>
			</form>
			<hr />
			<div class="text-center">
				<a class="small" href="<%- root %>/exemplo/esqueci">Forgot Password?</a>
			</div>
			<div class="text-center">
				<a class="small" href="<%- root %>/login">Already have an account? Login!</a>
			</div>
		</div>
	</div>
</div>
