<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row bg-white rounded-bottom rounded" style="border-radius:15px;">
            <div class="mx-auto col-lg-9 col-10 offset-md-1 py-4" style="border-radius: 15px;">
              <form class="text-left">
                <h1 class="text-center py-2">Cadastro de Usuário</h1>
                <div class="form-group"> <label>Nome Completo</label> <input type="text" class="form-control" placeholder="Seu Nome"> </div>
                <div class="form-group"> <label>E-mail</label> <input type="email" class="form-control" placeholder="email@exemplo.com"> </div>
                <div class="form-row">
                  <div class="form-group col-md-12"> <label>Senha</label> <input type="password" class="form-control" placeholder="••••••••"> </div>
                  <div class="form-group col-md-12"> <label >Confirme sua Senha</label> <input type="password" class="form-control" placeholder="••••••••"> </div>
                </div>
                <div class="form-group">
                  <div class="form-check"> <input class="form-check-input" type="checkbox" value="on"> <label class="form-check-label">Eu aceito os Termos de Condição de Uso</label> </div>
                </div> <button type="submit" class="btn" style="background-color: #4C9F38; color: white;">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
	  body{
		background: linear-gradient(#00610d8c, #00595c7a), url("../../public/img/floresta.jpg") !important; 
		background-position: top left !important;	
		background-size: 100% !important;	
		background-repeat: no-repeat !important;
		font-family: 'Open Sans', sans-serif !important;}
  </style>